In [1]:
import pandas as pd

In [5]:
DataFrame_1 = pd.read_csv('BankData.csv')
DataFrame_1.head(10)

,id,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,...,loan_condition_cat,interest_rate,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,1077501,2011,01/12/2011,1012015,10.0,RENT,1,Low,24000,1,...,0,10.65,B,2,27.65,5861.071414,5000.00,0.00,162.87,munster
1,1077430,2011,01/12/2011,1042013,0.5,RENT,1,Low,30000,1,...,1,15.27,C,3,1.00,1008.710000,456.46,117.08,59.83,leinster
2,1077175,2011,01/12/2011,1062014,10.0,RENT,1,Low,12252,1,...,0,15.96,C,3,8.72,3003.653644,2400.00,0.00,84.33,cannught
3,1076863,2011,01/12/2011,1012015,10.0,RENT,1,Low,49200,1,...,0,13.49,C,3,20.00,12226.302210,10000.00,0.00,339.31,ulster
4,1075358,2011,01/12/2011,1012016,1.0,RENT,1,Low,80000,1,...,0,12.69,B,2,17.94,3242.170000,2233.10,0.00,67.79,ulster
5,1075269,2011,01/12/2011,1012015,3.0,RENT,1,Low,36000,1,...,0,7.90,A,1,11.20,5631.377753,5000.00,0.00,156.46,munster
6,1069639,2011,01/12/2011,1012016,8.0,RENT,1,Low,47004,1,...,0,15.96,C,3,23.51,8136.840000,5110.85,0.00,170.08,leinster
7,1072053,2011,01/12/2011,1012015,9.0,RENT,1,Low,48000,1,...,0,18.64,E,5,5.35,3938.144334,3000.00,0.00,109.43,ulster
8,1071795,2011,01/12/2011,1042012,4.0,OWN,2,Low,40000,1,...,1,21.28,F,6,5.55,646.020000,162.02,189.06,152.39,ulster
9,1071570,2011,01/12/2011,1112012,0.5,RENT,1,Low,15000,1,...,1,12.69,B,2,18.08,1476.190000,673.48,269.29,121.45,munster

In [3]:
DataFrame_1.dtypes

id                        int64
year                      int64
issue_d                  object
final_d                   int64
emp_length_int          float64
home_ownership           object
home_ownership_cat        int64
income_category          object
annual_inc                int64
income_cat                int64
loan_amount               int64
term                     object
term_cat                  int64
application_type         object
application_type_cat      int64
purpose                  object
purpose_cat               int64
interest_payments        object
interest_payment_cat      int64
loan_condition           object
loan_condition_cat        int64
interest_rate           float64
grade                    object
grade_cat                 int64
dti                     float64
total_pymnt             float64
total_rec_prncp         float64
recoveries              float64
installment             float64
region                   object
dtype: object

In [17]:
DataFrame_2 = DataFrame_1.drop(['id','issue_d','final_d','region','total_rec_prncp','recoveries','region','installment'],axis='columns')
DataFrame_2.head()

,year,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,loan_amount,term,term_cat,...,purpose_cat,interest_payments,interest_payment_cat,loan_condition,loan_condition_cat,interest_rate,grade,grade_cat,dti,total_pymnt
0,2011,10.0,RENT,1,Low,24000,1,5000,36 months,1,...,1,Low,1,Good Loan,0,10.65,B,2,27.65,5861.071414
1,2011,0.5,RENT,1,Low,30000,1,2500,60 months,2,...,2,High,2,Bad Loan,1,15.27,C,3,1.00,1008.710000
2,2011,10.0,RENT,1,Low,12252,1,2400,36 months,1,...,3,High,2,Good Loan,0,15.96,C,3,8.72,3003.653644
3,2011,10.0,RENT,1,Low,49200,1,10000,36 months,1,...,4,High,2,Good Loan,0,13.49,C,3,20.00,12226.302210
4,2011,1.0,RENT,1,Low,80000,1,3000,60 months,2,...,4,Low,1,Good Loan,0,12.69,B,2,17.94,3242.170000

In [18]:
DataFrame_2.columns[DataFrame_2.isna().any()]

Index([], dtype='object')

In [19]:
DataFrame_2['income_category'].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [20]:
DataFrame_2['home_ownership'].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER', 'NONE', 'ANY'], dtype=object)

In [21]:
DataFrame_2['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [22]:
DataFrame_2['interest_payments'].unique()

array(['Low', 'High'], dtype=object)

In [23]:
DataFrame_2['loan_condition'].unique()

array(['Good Loan', 'Bad Loan'], dtype=object)

In [24]:
DataFrame_2['grade'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [25]:
DataFrame_2.describe

<bound method NDFrame.describe of         year  emp_length_int home_ownership  home_ownership_cat  \
0       2011            10.0           RENT                   1
1       2011             0.5           RENT                   1
2       2011            10.0           RENT                   1
3       2011            10.0           RENT                   1
4       2011             1.0           RENT                   1
...      ...             ...            ...                 ...
887374  2015             8.0           RENT                   1
887375  2015            10.0       MORTGAGE                   3
887376  2015             5.0           RENT                   1
887377  2015             1.0           RENT                   1
887378  2015            10.0           RENT                   1

       income_category  annual_inc  income_cat  loan_amount        term  \
0                  Low       24000           1         5000   36 months
1                  Low       30000           1         2500   60 months
2                  Low       12252           1         2400   36 months
3                  Low       49200           1        10000   36 months
4                  Low       80000           1         3000   60 months
...                ...         ...         ...          ...         ...
887374             Low       31000           1        10000   36 months
887375             Low       79000           1        24000   36 months
887376             Low       35000           1        13000   60 months
887377             Low       64400           1        12000   60 months
887378             Low      100000           1        20000   36 months

        term_cat  ... purpose_cat  interest_payments interest_payment_cat  \
0              1  ...           1                Low                    1
1              2  ...           2               High                    2
2              1  ...           3               High                    2
3              1  ...           4               High                    2
4              2  ...           4                Low                    1
...          ...  ...         ...                ...                  ...
887374         1  ...           6                Low                    1
887375         1  ...           7                Low                    1
887376         2  ...           6               High                    2
887377         2  ...           6               High                    2
887378         1  ...           1                Low                    1

        loan_condition loan_condition_cat  interest_rate grade  grade_cat  \
0            Good Loan                  0          10.65     B          2
1             Bad Loan                  1          15.27     C          3
2            Good Loan                  0          15.96     C          3
3            Good Loan                  0          13.49     C          3
4            Good Loan                  0          12.69     B          2
...                ...                ...            ...   ...        ...
887374       Good Loan                  0          11.99     B          2
887375       Good Loan                  0          11.99     B          2
887376       Good Loan                  0          15.99     D          4
887377       Good Loan                  0          19.99     E          5
887378       Good Loan                  0          11.99     B          2

          dti   total_pymnt
0       27.65   5861.071414
1        1.00   1008.710000
2        8.72   3003.653644
3       20.00  12226.302210
4       17.94   3242.170000
...       ...           ...
887374  28.69   3971.880000
887375   3.90   9532.390000
887376  30.90   3769.740000
887377  27.19   3787.670000
887378  10.83   7943.760000

[887379 rows x 23 columns]>

In [29]:
DataFrame_3 = DataFrame_2.drop(['home_ownership','income_category','term','interest_payments','loan_condition','grade','purpose','application_type'],axis='columns')
DataFrame_3.head()

,year,emp_length_int,home_ownership_cat,annual_inc,income_cat,loan_amount,term_cat,application_type_cat,purpose_cat,interest_payment_cat,loan_condition_cat,interest_rate,grade_cat,dti,total_pymnt
0,2011,10.0,1,24000,1,5000,1,1,1,1,0,10.65,2,27.65,5861.071414
1,2011,0.5,1,30000,1,2500,2,1,2,2,1,15.27,3,1.00,1008.710000
2,2011,10.0,1,12252,1,2400,1,1,3,2,0,15.96,3,8.72,3003.653644
3,2011,10.0,1,49200,1,10000,1,1,4,2,0,13.49,3,20.00,12226.302210
4,2011,1.0,1,80000,1,3000,2,1,4,1,0,12.69,2,17.94,3242.170000

In [30]:
target = DataFrame_3.loan_condition_cat
predictors = DataFrame_3.drop('loan_condition_cat',axis='columns')

In [31]:
target

0         0
1         1
2         0
3         0
4         0
         ..
887374    0
887375    0
887376    0
887377    0
887378    0
Name: loan_condition_cat, Length: 887379, dtype: int64

In [32]:
predictors

,year,emp_length_int,home_ownership_cat,annual_inc,income_cat,loan_amount,term_cat,application_type_cat,purpose_cat,interest_payment_cat,interest_rate,grade_cat,dti,total_pymnt
0,2011,10.0,1,24000,1,5000,1,1,1,1,10.65,2,27.65,5861.071414
1,2011,0.5,1,30000,1,2500,2,1,2,2,15.27,3,1.00,1008.710000
2,2011,10.0,1,12252,1,2400,1,1,3,2,15.96,3,8.72,3003.653644
3,2011,10.0,1,49200,1,10000,1,1,4,2,13.49,3,20.00,12226.302210
4,2011,1.0,1,80000,1,3000,2,1,4,1,12.69,2,17.94,3242.170000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,2015,8.0,1,31000,1,10000,1,1,6,1,11.99,2,28.69,3971.880000
887375,2015,10.0,3,79000,1,24000,1,1,7,1,11.99,2,3.90,9532.390000
887376,2015,5.0,1,35000,1,13000,2,1,6,2,15.99,4,30.90,3769.740000
887377,2015,1.0,1,64400,1,12000,2,1,6,2,19.99,5,27.19,3787.670000
887378,2015,10.0,1,100000,1,20000,1,1,1,1,11.99,2,10.83,7943.760000

In [33]:
#split your data set into train and splt method
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(predictors,target,test_size=0.2)

In [34]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [35]:
#going to train the model
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [37]:
model.score(x_test,y_test)*100

93.56081949108612

In [38]:
model.predict(x_test[:10])

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [44]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
modelNB = GaussianNB()
modelMNB = MultinomialNB()

In [45]:
modelNB.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [54]:
modelNB.score(x_test,y_test)*100

92.13189388987807

In [47]:
modelMNB.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [48]:
modelMNB.score(x_test,y_test)

0.5603912641709301

In [52]:
from sklearn.naive_bayes import BernoulliNB
modelB_NB = MultinomialNB()
modelB_NB.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

model

In [53]:
modelB_NB.score(x_train,y_train)

0.5602089299524019

In [56]:
modelNB.predict(x_test[:10])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)